.capitalizer {
  text-transform: capitalize;
}

.buttons-wrapper {
  display: flex;
  gap: 15px;

  .button-action {
    margin-bottom: 15px;
  }
}

.column-editor-wrapper {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
  .column-editor-content {
    display: flex;
    flex-direction: column;
    //gap: 15px;
    .slider {
      margin: 13px 0;
    }
  }
}
