<!-- Button to clear selection -->
<!--<button mat-raised-button color="primary" (click)="clearSelection()">Clear Selection</button>-->
<!-- AG Grid Angular Component -->
<!--<ag-grid-angular-->
<!--  pagination-->
<!--  style="width: 620px; height: 100%"-->
<!--  class="ag-theme-balham"-->
<!--  [columnDefs]="columnDefs"-->
<!--  [defaultColDef]="defaultColDef"-->
<!--  [rowData]="rowData$ | async"-->
<!--  [rowSelection]="'multiple'"-->
<!--  [animateRows]="true"-->
<!--  (gridReady)="onGridReady($event)"-->
<!--  (cellClicked)="onCellClicked($event)"-->
<!--&gt;</ag-grid-angular>-->

<mat-sidenav-container class="content-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <h4 *ngFor="let item of menuItems"><a [routerLink]="item.path">{{ item.menuLink }}</a></h4>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
